
.myColor {
  color: #fff;
}
a:hover{
  color: wheat;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

nav ul li a:hover{
   color:white;
   transform: scale(1.1);
   background: #047db5;
   text-transform: capitalize;
   padding: 10px;
   text-decoration: none;
}
 .text_btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
}

.active{
  color:white;
   transform: scale(1.1);
   background: #047db5;
   text-transform: capitalize;
   padding: 10px;
   text-decoration: none;
}



